body {
  margin: 0;
  padding: 0;
}


.box {
  display:flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.text {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 30px;
}

h3 {
  font-size: 60px;
  margin: 0;
}

.pict {
  width: 120%;
  text-align: center;
  min-height: 0%;
  border-radius: border-radius: 50%;
}

.pict img {
  max-width: 320px;
  height:auto;
}
.box:nth-child(1) {
  background-color: 	#3A0608;
  padding: 20px;
}
.box:nth-child(2) {
  background-color: #f1f1f1;
  padding: 20px;
}

@media (min-width:768px) {
  body {
    padding: 0px;
  }
  .box {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
  }
  .box:nth-child(2) {
    flex-direction: row-reverse;
  }
  
  .text {
    text-align: center;
  }
  .box:nth-child(2) .text {
    text-align: center;
  }
  .pict {
    width: 30%;
  }
  .pict img {
    width: 100%;
    height:auto;
  }
  .box:nth-child(2) .pict {
    margin-left: 0;
    margin-right: 3%;
  }
}