article{
   display:flex;
   flex-direction:column;
 }
body {
  margin: 0;
  padding: 0;
}

.box1 {
  display:flex;
  flex-direction: column;
  padding: 20px;
}

.text1 {
  width: 100%;
  text-align: center;
}

h3 {
  font-size: 70px;
  margin: 0;
}

.aspic {
  width: 100%;
  text-align: center;
  min-height: 0%;
}

.aspic img {
  max-width: 300px;
  height:auto;
}

.box1:nth-child(even) {
  background-color: #0000cd;
  padding: 20px;
}
.box2:nth-child(even) {
  background-color: #c71585;
  padding: 20px;
}

@media (min-width:768px) {
  body {
    padding: 0px;
  }
  .box1 {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
  }
  .box1:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .text1 {
    text-align: left;
  }
  .box2:nth-child(even) .text {
    text-align: right;
  }
  .aspic {
    width: 30%;
  }
  .aspic img {
    width: 100%;
    height:auto;
  }
  .box1:nth-child(even) .aspic {
    margin-left: 0;
    margin-right: 3%;
  }
}
