article{
   display:flex;
   flex-direction:column;
 }
.flex .image {
  width: auto; /*画像サイズ指定*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.flex .right {
  margin: 0 0 0 20px;
  padding: 0;
}
.flex .title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
}
.flex .text {
  margin: 10px 0 0;
  padding: 0;
}

/* 画像を天地中央表示 */

.flex .image {
  overflow: hidden;
  position: relative;
}
.flex .image::before {
  content: "ap";
  display: block;
  padding-top: 58%;
}
.flex .image img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
 .assam{
   box-sizing:border-box;
   padding:5%;
   background:#e8e8e8;
   text-align:center;
 }
 .assampic img{
   box-sizing:border-box
   width:auto;
   height:auto;
 }
 .text{
   box-sizing:border-box;
   width:100%;
   background:#cfcfcf;
   text-align:center;
 }
