article{
   display:flex;
   flex-direction:column;
 }
 .assam{
   box-sizing:border-box;
   padding:5%;
   background:#e8e8e8;
   text-align:center;
 }
 .assampic img{
   width:70px;
   height:auto;
 }
 .text{
   box-sizing:border-box;
   width:100%;
   background:#cfcfcf;
   text-align:center;
 }

/* 以下PC用の表示 */
 @media screen and (min-width:640px){
   article{
     display:flex;
     flex-direction:row;
   }
   .logo{
     width:60%;
   }
   .logo img{
     position:relative;
     top:50%;
     transform:translateY(-50%);
   }
   .text{
     width:40%;
     padding:5%;
   }
   article:nth-child(2n+1){
     flex-direction:row-reverse;
   }
   article:nth-child(2n+1) .logo{
     background:#f3f3f3;
   }
 }
